.palito {
    background-color: black;
    width: 20px;
    height: 100px;
    margin: auto;
   

}
.contenedor-semaforo {
    background-color: black;
    width: 200px;
    height: 540px;
    margin: auto;
    border-radius: 5%;
}
.boton {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: auto;
}

.rojo{
    background-color: red;
}

.verde {
 
    background-color: rgb(0, 255, 0);
   
}

.amarillo {
  
    background-color: yellow;
  
}

.glow {
    box-shadow: 0px 0px 9px 4px white;
}